*{margin:0px;padding:0px;}
img{padding:0px;border:none;}
a{color:#ffffff;text-decoration:none;font-weight:bold;}
a:hover{text-decoration:none;color:#c70000;}
h1{font-family:Arial, Helvetica, sans-serif;font-size:20px;color:#ffffff;font-weight:normal;text-shadow:2px 4px 6px rgba(0, 0, 0, 1);-webkit-text-shadow:2px 4px 6px rgba(0, 0, 0, 1);-moz-text-shadow:2px 4px 6px rgba(0, 0, 0, 1);-o-box-text-shadow:2px 4px 6px rgba(0, 0, 0, 1);-ms-text-shadow:2px 4px 6px rgba(0, 0, 0, 1);}
h2{font-family:Arial, Helvetica, sans-serif;font-size:20px;color:#ffffff;font-weight:normal;background:url("images/title_bg.png"/*tpa=http://latart-3d.com.ua/images/title_bg.png*/) repeat-x bottom;padding-bottom:3px;}
h3{font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#ffffff;font-weight:normal;padding-bottom:3px;margin-bottom:5px;}
h4{font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#ffffff;font-weight:normal;padding-bottom:3px;margin-bottom:5px;}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
	color:#ffffff;
	background-color: #880C38;
	background-image: url("images/bg.jpg"/*tpa=http://latart-3d.com.ua/images/bg.jpg*/);
}
.clear{clear:both;}
.clear2{clear:both;height:60px;}
#bg_top{background:url("images/bg_top.jpg"/*tpa=http://latart-3d.com.ua/images/bg_top.jpg*/) no-repeat center top;min-height:100%;}
#wrap{width:1016px;margin:0 auto;padding:9px 0px 0px 0px;}
#wrap_bg{width:1216px;margin:0 auto;background:url("images/logo_bg.png"/*tpa=http://latart-3d.com.ua/images/logo_bg.png*/) no-repeat left top;}
ul#nav{list-style-type:none;margin:0;padding:0;}
#nav{float:left;width:100%;height:80px;position:relative;margin-top:0px;margin-right:0;margin-left:0;margin-bottom:20px;}
#nav .select, #nav .current{margin:0;padding:0;list-style:none;display:block;}
#nav li{font-family:Verdana, Arial, Helvetica, sans-serif;display:inline;margin:0;padding:0;height:auto;}
#nav .select a, #nav .current a{display:block;height:40px;float:left;padding:0 0 0 5px;text-decoration:none;font-size:14px;line-height:40px;white-space:nowrap;margin-right:2px;position:relative;z-index:500;background-image:url("images/right_nav.png"/*tpa=http://latart-3d.com.ua/images/right_nav.png*/);background-repeat:no-repeat;background-position:left top;font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:normal;}
#nav .select a b, #nav .current a b{height:100%;display:block;padding:0 20px 0 15px;color:#ddd;background-image:url("images/right_nav.png"/*tpa=http://latart-3d.com.ua/images/right_nav.png*/);background-repeat:repeat;background-position:right top;}
#nav .select a:hover, #nav .select li:hover a{background-position:0 -50px;cursor:pointer;}
#nav .select a:hover b, #nav .select li:hover a b{background-position:100% -50px;color:#fff;}
#nav .sub{display:none;}
#nav .current a{background-position:0 -50px;border-color:#046;}
#nav .current a b{background-position:100% -50px;color:#fff;}
#nav .sub li a:hover, #nav .select a:hover .sub li a:hover, #nav .select li:hover .sub li a:hover, #nav .sub_active .current_sub a, #nav .sub_active a:hover{color:#fff;text-decoration:underline;}
#nav .select li a:hover .sub, #nav .select li:hover .sub, #nav .sub_active{display:block;position:absolute;width:100%;height:40px;top:40px;left:0;padding:0;z-index:100;background-color:#8A092F;}
#nav .sub_active{z-index:10;}
#nav .sub, #nav .sub_active{margin:0;padding:0;list-style:none;}
* html #nav .sub_active, * html #nav .select a:hover .sub{z-index:-1;margin-top:0;margin-top:1px;}
#nav .sub_active a{height:25px;float:left;text-decoration:none;line-height:24px;white-space:nowrap;font-weight:normal;}
#nav .sub_active a, #nav .select a:hover .sub li a, #nav .select li:hover .sub li a{display:inline;background:none;padding:0 10px;margin:0;font-size:16px;width:auto;white-space:nowrap;font-weight:normal;border:0;color:#eee;height:35px;line-height:40px;font-family:Verdana, Arial, Helvetica, sans-serif;}
.mycss3button{background:#a18208;background:-webkit-gradient(linear, left top, left bottom, from(#f0d228), to(#a18208));background:-moz-linear-gradient(top, #f0d228, #a18208);background:-ms-linear-gradient(top, #f0d228, #a18208);background:-o-linear-gradient(top, #f0d228, #a18208);padding:10px 20px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);text-shadow:rgba(0,0,0,.4) 0 1px 0;color:#ffffff;font-size:18px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;vertical-align:middle;}
.mycss3button:hover{color:#ffffff;background:#870808;background:-webkit-gradient(linear, left top, left bottom, from(#f70a0a), to(#870808));background:-moz-linear-gradient(top, #f70a0a, #870808);background:-ms-linear-gradient(top, #f70a0a, #870808);background:-o-linear-gradient(top, #f70a0a, #870808);}
.mycss3button:active{border-top-color:#ffffff;background:#ffffff;}
#logo{height:120px;padding-top:10px;padding-bottom:10px;}
#logo h1 a{font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#ffffff;font-style:italic;font-weight:normal;}
#logo a small{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#ffffff;font-style:italic;font-weight:normal;}
#prew_box{background:url("images/prew_bg.png"/*tpa=http://latart-3d.com.ua/images/prew_bg.png*/) no-repeat top left;height:329px;padding:11px;}
#prew_but_box{width:76px;margin:0 auto;height:20px;padding-top:20px;}
#prew_but_left{float:left;}
#prew_but_right{float:right;}
#content{color:#ffffff;background:url("images/content_bg.png"/*tpa=http://latart-3d.com.ua/images/content_bg.png*/);margin-top:10px;padding:10px;box-shadow:0px 10px 40px rgba(70, 4, 24, 1);-webkit-box-shadow:0px 10px 40px rgba(70, 4, 24, 1);-moz-box-shadow:0px 10px 40px rgba(70, 4, 24, 1);-o-box-shadow:0px 10px 40px rgba(70, 4, 24, 1);-ms-box-shadow:0px 10px 40px rgba(70, 4, 24, 1);}
.text{padding-top:10px;padding-right:0px;padding-bottom:0px;padding-left:0px;}
.text2{margin:10px;padding:10px;}
.italic_style{font-style:italic;}
.read{float:right;padding:0px 10px 0px 0px;}
.read a{color:#c70000;font-weight:normal;}
.read a:hover{color:#000000;}
#left_column{width:980px;float:left;}
.left_news_top{height:22px;padding-top:13px;}
.left_news_bg{padding:0px 20px 0px 20px;}
.left_news_bot{height:22px;}
#right_column{width:360px;float:right;}
.right_news_top{height:22px;padding-top:13px;}
.right_news_bg{padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;}
.right_news_bot{height:22px;}
#feedback-form{max-width:400px;padding:2%;border-radius:3px;background:#f1f1f1;}
#feedback-form [required]{width:100%;box-sizing:border-box;margin:2px 0 2% 0;padding:2%;border:1px solid rgba(0,0,0,.1);border-radius:3px;box-shadow:0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 transparent;}
#feedback-form [required]:hover{border-color:#7eb4ea;box-shadow:0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 transparent;}
#feedback-form [required]:focus{outline:none;border-color:#7eb4ea;box-shadow:0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 4px rgba(35,146,243,.5);transition:.2s linear;}
#feedback-form [type="submit"]{padding:2%;border:none;border-radius:3px;box-shadow:0 0 0 1px rgba(0,0,0,.2) inset;background:#669acc;color:#fff;}
#feedback-form [type="submit"]:hover{background:#5c90c2;}
#feedback-form [type="submit"]:focus{box-shadow:0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);}
#footer{padding:10px 0px 20px 0px;color:#ffffff}
#footer a{color:#ffffff;}
#footer a:hover{color:#4F081B;}
#footer_bottom{padding-top:20px;font-size:10px;padding-left:20px;}
#footer_bottom a{font-weight:normal;}
.row-top{width:100%;padding:33px 0 42px;}
.row-padding{padding:0 62px}
.col-1, .col-2, .col-3, .col-4{float:left}
.list-services li{line-height:24px;padding-left:28px;list-style:none;background-image:url("images/facebook.png"/*tpa=http://latart-3d.com.ua/images/facebook.png*/);background-repeat:no-repeat;background-position:0px 3px;}
.list-services li a{color:#9d9d9d;text-decoration:none}
.list-services li a:hover{text-decoration:underline}
.list-services li.item-1{background-repeat:no-repeat;}
.list-services li.item-2{background-image:url("images/vk.png"/*tpa=http://latart-3d.com.ua/images/vk.png*/);background-repeat:no-repeat;background-position:0px 3px;}
.list-services li.item-3{background-image:url("images/google.png"/*tpa=http://latart-3d.com.ua/images/google.png*/);background-repeat:no-repeat;background-position:0px 3px;}
.list-services li.item-4{background-image:url("images/instagram.png"/*tpa=http://latart-3d.com.ua/images/instagram.png*/);background-repeat:no-repeat;background-position:0px 3px;}
.menu li a, .list-1 li a,{text-decoration:none}
.list-1 li{line-height:24px;padding-left:10px;background:url("images/marker.gif"/*tpa=http://latart-3d.com.ua/images/marker.gif*/) 0 10px no-repeat;list-style:none}
.list-1 li a{display:inline-block;color:#9d9d9d}
.list-1 li a:hover{text-decoration:underline}
.indent3{padding-top:28px}
.footer-logo{display:block;color:#666666;font-size:30px;line-height:1em;text-transform:uppercase;letter-spacing:-3px;font-weight:400;margin-bottom:5px}
.footer-logo strong{color:#666666;text-transform:none;display:inline-block}
.phone{display:inline-block;font-size:24px;line-height:1.2em;color:#666666;letter-spacing:-1px;padding-left:5px}
.phone strong{color:#666666}
.col-1{width:240px;margin-right:10px;height:auto;margin-left:10px;}
.col-2{width:180px;margin-right:10px;height:auto;margin-left:10px;}
.col-3{width:260px;height:auto;margin-right:10px;margin-left:10px;}
.col-4{width:130px;height:auto;margin-right:10px;margin-left:10px;}
#scrollup{position:fixed;opacity:1;padding:5px 5px 5px 5px;background:#aaa;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;left:20px;bottom:20px;display:none;cursor:pointer;}
.ls{list-style:none;padding-left:0px;}
.ls li{background:url("images/ls.gif"/*tpa=http://latart-3d.com.ua/images/ls.gif*/) no-repeat 0px 7px;margin-bottom:4px;padding-left:15px;}
.ls2{list-style:none;padding-left:0px;padding-top:5px;}
.ls2 li{background:url("images/ls2.gif"/*tpa=http://latart-3d.com.ua/images/ls2.gif*/) no-repeat 0px 7px;padding-bottom:4px;padding-left:15px;}
.button_box{padding-top:5px;}
.button_box a{padding-right:20px;}
.news_top{clear:both;}
.layer_border{background:url("images/title_bg.jpg"/*tpa=http://latart-3d.com.ua/images/title_bg.jpg*/) repeat-x bottom;padding-bottom:3px;}
.news_top_left{background:url("images/date_bg.jpg"/*tpa=http://latart-3d.com.ua/images/date_bg.jpg*/) no-repeat right;width:45px;height:42px;float:left;text-align:center;margin:5px 0px 0px 0px;}
.news_top_left .date_day{color:#ffffff;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:normal;padding-top:8px;line-height:12px;}
.news_top_left .date_month{color:#ffffff;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:normal;}
.news_top_right{float:left;padding-left:15px;width:529px;}
.title_post_left{float:left;}
.title_post_right{float:right;}
.gallery_top{background:url("images/gallery_top.jpg"/*tpa=http://latart-3d.com.ua/images/gallery_top.jpg*/) no-repeat;height:21px;}
.gallery_bg{background:url("images/gallery_bg.jpg"/*tpa=http://latart-3d.com.ua/images/gallery_bg.jpg*/) repeat-y left;padding:0px 11px 0px 11px;}
.gallery_bot{background:url("images/gallery_bot.jpg"/*tpa=http://latart-3d.com.ua/images/gallery_bot.jpg*/) no-repeat;height:21px;}
.gal{width:250px;height:250px;padding:10px;float:left;background-repeat:no-repeat;background-position:0px 0px;background-image:url("images/gal_bg.jpg"/*tpa=http://latart-3d.com.ua/images/gal_bg.jpg*/);margin-top:10px;margin-right:30px;margin-bottom:10px;margin-left:30px;}
.gal_2{width:200px;height:240px;padding:10px;float:left;background-repeat:no-repeat;background-position:0px 0px;margin-top:0px;margin-right:10px;margin-bottom:0px;margin-left:10px;}
.gal h3{background:none;margin-bottom:0px;}
.gal_img{border:1px solid #ffffff;}
.gal p{color:#000000;}
.razd{height:10px;clear:both;}
.pagenav{padding-left:10px;}
.pagenav ul{list-style:none;padding:0px;}
.pagenav ul li a{display:block;float:left;background:url("images/pagenav_bg.jpg"/*tpa=http://latart-3d.com.ua/images/pagenav_bg.jpg*/) no-repeat;width:40px;height:42px;line-height:40px;text-align:center;color:#ffffff;margin-right:5px;font-weight:normal;font-size:20px;}
.pagenav ul li a:hover{color:#ffffff;background:url("images/pagenav_select.jpg"/*tpa=http://latart-3d.com.ua/images/pagenav_select.jpg*/) no-repeat;}
.pagenav ul li .select{color:#ffffff;background:url("images/pagenav_select.jpg"/*tpa=http://latart-3d.com.ua/images/pagenav_select.jpg*/) no-repeat;}
.date_news{text-decoration:underline;}
.news{padding:10px 0px 20px 0px;}
#contact_form fieldset{border:none;padding-top:20px;}
#contact_form input{margin-bottom:5px;}
#contact-submit, #contact-clear{width:74px;height:19px;color:#efefef;background:url("images/contact_but.jpg"/*tpa=http://latart-3d.com.ua/images/contact_but.jpg*/);background-repeat:no-repeat;background-position:left bottom;border:none;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:normal;font-style:italic;margin-right:40px;}
#con_name, #con_email, #con_website{width:571px;height:29px;padding-top:0px;padding-left:10px;padding-right:10px;border:none;background:url("images/contact_input.jpg"/*tpa=http://latart-3d.com.ua/images/contact_input.jpg*/);background-repeat:no-repeat;background-position:left top;color:#373636;line-height:29px;}
#con_mess{width:571px;height:103px;padding-top:4px;padding-left:10px;padding-right:10px;padding-bottom:15px;border:none;background-repeat:no-repeat;background-position:left top;color:#373636;margin-bottom:15px;font-family:Arial, Helvetica, sans-serif;font-size:12px;background-color:#FFFFFF;background-image:none;}
.pad_left{padding-left:30px;padding-top:10px;}
.contact_news{padding-top:15px;}
#slider-wrapper{background:url("images/top.jpg"/*tpa=http://latart-3d.com.ua/images/top.jpg*/) no-repeat;width:994px;height:299px;margin:0 auto;}
#slider{position:relative;width:994px;height:299px;background:url("images/loading.gif"/*tpa=http://latart-3d.com.ua/images/loading.gif*/) no-repeat 50% 50%;}
#slider img{position:absolute;top:0px;left:0px;display:none;}
#slider a{border:0;display:block;}
.nivo-controlNav{position:absolute;left:440px;bottom:-42px;}
.nivo-controlNav a{display:block;width:22px;height:22px;background:url("images/bullets.png"/*tpa=http://latart-3d.com.ua/images/bullets.png*/) no-repeat;text-indent:-9999px;border:0;margin-right:3px;float:left;}
.nivo-controlNav a.active{background-position:0 -22px;}
.nivo-directionNav a{display:block;width:30px;height:30px;background:url("images/arrows.png"/*tpa=http://latart-3d.com.ua/images/arrows.png*/) no-repeat;text-indent:-9999px;border:0;}
a.nivo-nextNav{background-position:-30px 0;right:15px;}
a.nivo-prevNav{left:15px;}
.nivo-caption{text-shadow:none;font-family:Helvetica, Arial, sans-serif;}
.nivo-caption a{color:#efe9d1;text-decoration:underline;}
